[submodule "thirdparty/spdlog"]
	path = thirdparty/spdlog
	url = ../spdlog.git
[submodule "thirdparty/nlohmann-json"]
	path = thirdparty/nlohmann-json
	url = ../nlohmann-json.git
[submodule "thirdparty/boost"]
	path = thirdparty/boost
	url =../boost.git
